@using ApiCosmetic_ver2.Models.Context
@model IEnumerable<Review>
@{
    ViewBag.Title = "Управление данными";
}

@{ 
    List<Country> countries = ViewBag.country;
    List<Brand> brands = ViewBag.brands;
}

<div class="container block">
    <table class="table">
        <tbody>
            @foreach (Review r in Model)
            {
                string className = !r.Active ? "table__disactive" : "";
                string active_id = "active_" + r.Id;
                string classText = "text_" + r.Id;
                string image1 = "image1_" + r.Id;
                string image2 = "image2_" + r.Id;
                string image3 = "image3_" + r.Id;
                string tags = "tags_" + r.Id; 
                string classTitle = "title_" + r.Id;
                string curCountry = (countries.Find(x => x.Id == r.CountryId) != null) ? countries.Find(x => x.Id == r.CountryId).Name : "Другая";
                string curBrand = (brands.Find(x => x.Id == r.BrandId) != null) ? brands.Find(x => x.Id == r.BrandId).Name : "Другой";

            <tr class=@className>
                <td class=@classTitle>@r.Title</td>
                <td class=@classText>@r.Text</td>
                <td>@curCountry</td>
                <td>@curBrand</td>
                <td class=@tags>@r.Tags</td>
                <td style="display: none" class=@image1>@r.Image</td>
                <td style="display: none" class=@image2>@r.Image2</td>
                <td style="display: none" class=@image3>@r.Image3</td>
                <td>
                    <div>
                        <button class="btn btn-primary setActive" data-id=@r.Id>Утвердить</button>
                        <button class="btn btn-success modifide" data-id=@r.Id data-toggle="modal" data-target="#myModal">Изменить</button>
                        <button class="btn btn-danger delete" data-id=@r.Id >Удалить</button>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Изменить отзыв</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input class="form-control" id="current-title" placeholder="Заголовок" />
                </div>
                <div class="form-group">
                    <textarea class="form-control" id="current-text" placeholder="Текст"></textarea>
                </div>
                <div class="form-group">
                    <label for="current-country">Выберите страну</label>
                    <select class="form-control" id="current-country">
                        <option value="-1">Не менять</option>
                        @foreach (Country country in countries)
                        {
                            <option value=@country.Id>@country.Name</option>
                        }
                        <option value="0">Другая...</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="current-brand">Выберите бренд</label>
                    <select class="form-control" id="current-brand">
                        <option value="-1">Не менять</option>
                        @foreach (Brand brand in brands)
                        {
                            <option value=@brand.Id>@brand.Name</option>
                        }
                        <option value="0">Другая...</option>
                    </select>
                </div>
                <div class="form-group">
                    <input class="form-control" id="current-tags" placeholder="#tag1 #tag2 #tag3" />
                </div>
                <div class="image">
                    <img alt="none" width="200" height="200" id="current-im1" class="image-send image_enable" />
                    <img alt="none" width="200" height="200" id="current-im2" class="image-send image_enable" />
                    <img alt="none" width="200" height="200" id="current-im3" class="image-send image_enable" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отменить</button>
                <button type="button" class="btn btn-primary modifide_send">Опубликовать</button>
            </div>
        </div>
    </div>
</div>
